:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 14px/1.5 var(--sans);
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: var(--sans);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
